.container {
  border-radius: 87px;
  width: fit-content;
  height: fit-content;
  margin-top: 224px;
  margin-bottom:95px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 25px #00000029;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  &_signup {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 37px;
    border: 3px solid #FD2D01;
    height: 67px;
    width: 185px;
    text-align: center;
    margin-top: 119px;
    margin-right: 66px;
    text-decoration: none;
    font-size: 20px;
    color: #FD2D01;
  }
  &_login {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 37px;
    border: 3px solid #FD2D01;
    height: 67px;
    width: 185px;
    margin-top: 119px;
    text-decoration: none;
    color: #FD2D01;
    font-size: 20px;
  }
}

.active {
  color:#FFFFFF;
  background-color: #FD2D01;
}