<mat-spinner *ngIf="loading"></mat-spinner>
<form class="body" [formGroup]="posteForm" *ngIf="!loading">
  <h1 class="body-titre">Créer un post</h1>
  <div class="form">
    <label class="form-titre" for="titre">Titre</label>
    <input type="text" class="form-input titre" id="titre" formControlName="titre">
  </div>
  <div class="form">
    <label class="form-titre" for="contenu">Contenue</label>
    <textarea class="form-input contenue" id="contenu" rows="5" formControlName="contenu"></textarea>
  </div>
  <div class="form">
    <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
    <button class="button image" (click)="imageInput.click()">Ajouter une image</button>
    <img [src]="imagePreview" *ngIf="imagePreview">
  </div>
  <button class="button valider" (click)="onSubmit()" >Valider</button>
</form>
