<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="postes$ | async as postes">
  <p *ngIf="!loading && postes.length <= 0">
    Aucun post !
  </p>
  <div class="poste-list" *ngIf="!loading && postes.length  > 0">
    <div class="poste-list-item" *ngFor="let poste of postes" (click)="onClickPoste(poste._id)">
      <div class="poste-list-head">
        <h4>{{ poste.titre | uppercase }}</h4>
        <h5>{{poste.userName}}</h5>
      </div>
      <div class="poste-list-body">
        <img alt="" [src]="poste.imageUrl">
      </div>
    </div>
  </div>
</ng-container>
