.poste-container {
  display: flex;
  width: 1335px;
  height: 849px;
  width: 1335px;
  height: 849px;
  img {
    width: 628px;
    height: 776px;
    border-radius: 34px;
    margin-top: 35px;
    margin-left: 40px;
    flex: 1;
  }
}

.poste-info {
  padding: 40px 20px;
  flex: 1;
}
.poste-head{
  margin-left: 72px;
  margin-top: 68px;
}
.poste-titre{
  color: #fd2d01;
  font-family: "Lato";
  font-weight: bold;
}
.poste-user{
  margin-top: -20px;
}
.poste-content{
  width: 529px;
  height: 494px;
  color: #4E5166;
  text-align: left;
  margin-left: 69px;
  margin-right: 69px;
  overflow: scroll;
}

.like-buttons {
  display: flex;
  justify-content: center;
  i {
    margin-right: 0.5em;
    cursor: pointer;
  }
}

.likes, .dislikes {
  margin: 0 0.4em;
}

.liked {
  color: rgba(51, 219, 0, 1);
}

.disliked {
  color: rgba(219, 51, 0, 1);
}

.like {
  &:hover {
    color: rgba(51, 219, 0, 1);
  }
}

.dislike {
  transform: scaleX(-1) translateY(5px);
  &:hover {
    color: rgba(219, 51, 0, 1);
  }
}

.disabled {
  cursor: none;
  &:hover {
    color: rgba(190, 190, 190, 1);
  }
  color: rgba(190, 190, 190, 1);
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    margin: 1em 1em 0 0;
  }
}
.buttons{
  border-radius: 37px;
  border: 3px solid #Fd2D01;
  height: 52px;
  width: 170px;
  color:#Fd2D01;
}
