<mat-spinner *ngIf="loading"></mat-spinner>
<div class="poste-container" *ngIf="poste$ | async as poste">
  <img [src]="poste?.imageUrl" alt="">
  <div class="poste-info">
    <div class="poste-head">
      <h1 class="poste-titre">{{ poste.titre }}</h1>
      <h3 class="poste-user">{{poste.userName}}</h3>
    </div>
    <p class="poste-content">{{ poste.contenu }}</p>
    <div class="like-buttons" *ngIf="!likePending">
      <div class="likes">
        <i [ngClass]="{ 'fas liked': liked, 'far': !liked, 'disabled': disliked }" class="like fa-thumbs-up fa-lg" (click)="onLike()"></i>
        <span>{{ poste.likes }}</span>
      </div>
      <div class="dislikes">
        <i [ngClass]="{ 'fas disliked': disliked, 'far': !disliked, 'disabled': liked }" class="dislike fa-thumbs-down fa-lg" (click)="onDislike()"></i>
        <span>{{ poste.dislikes }}</span>
      </div>
    </div>
    <div class="like-pending" *ngIf="likePending">
      <mat-spinner class="white-spinner"></mat-spinner>
    </div>
    <div class="control-buttons">
      <button class="buttons" (click)="onModify()" >Modifier</button>
      <button class="buttons" (click)="onDelete()" >Supprimer</button>
    </div>
  </div>
</div>
