<nav class="nav">
  <div class="left-nav">
    <ul>
      <li>
        <a routerLink="postes" routerLinkActive="active" *ngIf="isAuth$ | async">
          <i class="fas fa-house"></i>
        </a>
      </li>
      <li>
        <a class="Button" routerLink="new-poste" routerLinkActive="active" *ngIf="isAuth$ | async">
          CREER UN POST
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div>
      <img class="logo-image" alt="Groupomania Logo" src="../../assets/images/icon-groupo.png">
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        <a class="Button Button-deco" (click)="onLogout()" *ngIf="isAuth$ | async">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
