<nav class="nav">
  <div class="left-nav">
        <a class="Button Button-acceuil" routerLink="postes" routerLinkActive="active" *ngIf="isAuth$ | async">
          Acceuil
        </a>
        <a class="Button" routerLink="new-poste" routerLinkActive="active" *ngIf="isAuth$ | async">
          Créer un post
        </a>
  </div>
  <div class="logo">
    <div>
      <img class="logo-image" alt="Groupomania Logo" src="../../assets/images/icon-groupo.png">
    </div>
  </div>
  <div class="right-nav">
        <a class="Button Button-deco" (click)="onLogout()" *ngIf="isAuth$ | async">Déconnexion</a>
  </div>
</nav>
