nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0px;
  background-color: #ffffff;
  box-shadow: 5px 10px 25px #00000029;
  height: 124px;
  width: 100%;
}

.left-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin-top: 25px;
  &-image{
    width: 386px;
    height: 84px;
  }
}

.Button{
display: flex;
justify-content: center;
align-items: center;
border-radius: 37px;
border: 3px solid #Fd2D01;
height: 52px;
width: 170px;
text-decoration: none;
color:#Fd2D01;
font-size: 20px;
&-deco{
  margin-right: 40px;
}
&-acceuil{
  margin-left: 40px;
  margin-right: 40px;
}
}
.active {
  color:#FFFFFF;
  background-color: #FD2D01;
}
.right-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
